main{
    width: 100%;
    min-height: 100vh;
    background-color: hsl(204, 43%, 93%);
    padding-top: 80px;
    padding-bottom: 50px;
}

.conteudo{
    width: 50%;
    margin: 0 auto;
}

.div1{
    border-radius: 10px 10px 0 0;
}

.div2{
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 0 10px;
}

.div3{
    background-color: #4abebd;
    border-radius: 0 0 10px 0;
}

/* Colocando um padding em todas as divs */
.div1, .div2, .div3{
    padding:35px;
}

.div1 h3{
    color: hsl(179, 62%, 43%) ;
    font-weight: 700;
    margin-bottom: 15px;
}

.div1 h5{
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    margin-bottom: 15px;
}

.div1 p{
    color: hsl(218, 22%, 67%);
    line-height: 30px;
}

.div2 h5, .div3 h5{
    color: hsl(204, 43%, 93%);
    font-weight: 700;
    margin-bottom: 15px;
}

.div2 span{
    font-size: 30px;
    font-weight: 700;
    margin-right: 10px;
}

.div2 p, .div3 p{
    color: hsl(204, 43%, 93%);
}

.btn{
    background-color: hsl(71, 73%, 54%);
    color:hsl(204, 43%, 93%) ;
    font-weight: 700;
    width: 90%;
}


@media (max-width:991px){
    .conteudo{
        width: 80%;
    }

    .div2{
        border-radius:0;
    }

    .div3{
        border-radius:0 0 10px 10px;
    }
}




