<!-- Criando a div conteúdo -->

<main>
    <div class="row conteudo">
        <div class="div1 col-sm-12 bg-white">
            <h3>Join our community</h3>
            <h5>30-day, hassle-free money back guarantee</h5>
            <p>  Gain access to our full library of tutorials along with expert code reviews. Perfect for any developers who are serious about honing their skills.</p>
        </div>
        <div class="div2 col-lg-6 col-sm-12 d-flex flex-column ">
            <h5>Monthly Subscription</h5>
            <p> <span>&dollar;29</span> per month</p>
            <p>Full access for less than &dollar;1 a day</p>
            <button class="btn mt-4">Sign Up</button>
        </div>
        <div class="div3 col-lg-6 col-sm-12">
            <h5>Why Us</h5>
            <p>
                Tutorials by industry experts<br/>
                Peer &amp; expert code review<br/>
                Coding exercises<br/>
                Access to our GitHub repos<br/>
                Community forum<br/>
                Flashcard decks<br/>
                New videos every week
            </p>
        </div>
    </div>

</main>
